.HeaderIcon {
    min-width: 304px;
    padding-right: 32px;
    box-sizing: border-box;
    flex: 1 0 auto;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.Icon {
    display: inline-block;
    margin: 0px 4px;
    padding: 12px;
    vertical-align: middle;
    height: 24px;
    width: 24px;
}