.Header {
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 8px;
    -webkit-box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: -ms-min-content;
    min-width: min-content;
}