.MainPanelContainer {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
}

.MainPanel {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
}

.MainPanelRow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.Grid {
    background-color: #fff;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.GridHeader {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
}

.GridBody {
    -webkit-box-flex: 1 1 60%;
    -webkit-flex: 1 1 60%;
    flex: 1 1 60%;
    position: relative;
    border-top: #e0e0e0 1px solid;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.BlankCell {
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 64px;
}

.GridHeaderDatesContainer {
    border-left: #e0e0e0 1px solid;
    margin-left: -1px;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.GridHeaderDatesBox {
    height: 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    overflow: hidden;
}

.GridHeaderDatesRow {
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.GridHeaderDatesRowCol {
    width: 81px;
    min-width: 81px;
    
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    border-right: #e0e0e0 1px solid;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    outline: none;
}

.Today {
    background-color: rgba(0,0,0,0.04);
}

.HeaderTitle {
    font-weight: 400;
    margin: 0;
    
    
}

.HeaderTitleDay {
    font-size: 12px;
    line-height: 32px;
    position: relative;
    z-index: 2;
    margin-left: 16px;
}


.HeaderTitleDate {
    font-size: 48px;
    line-height: 36px;
    position: relative;
    z-index: 2;
    margin-left: 16px;
}

.GridBodyContent {
    overflow: hidden;
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.TimeContentContainer { 
    overflow-y: hidden;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    height: 1152px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.TimeContent {
    position: relative;
    border-right: #e0e0e0 1px solid;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 64px;
}

.TimeDiv { 
    position: relative;
    height: 48px;
    text-align: center;
}

.TimeSpan {
    display: block;    
    position: relative;
    top: -6px;
    font-size: 10px;
    color: #212121;
}

.GMT {
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    display: table-cell;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: #e0e0e0 1px solid;
    min-height: 24px;
    border-bottom: #e0e0e0 1px solid;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    line-height: 24px;
    font-size: 10px;
    color: #212121;
    
}

.GMTSpan {
    padding: 0px 3px;
}

.EventContentContainer {
    overflow-x: auto;
    overflow-y: scroll;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.EventContent {
    min-width: 100%;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.ColumnContainer {
    width: 81px;
    min-width: 81px;
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    border-right: #e0e0e0 1px solid;
    position: relative;
    /* padding-right: 12px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    height: 100%;
}

.TimeBox {
    height: 23px;
    border-bottom: white 1px solid;
}

.TimeBoxUnder {
    height: 23px;
    border-bottom: #e0e0e0 1px solid;
}

.Column {
    position: relative;
    height: 100%;
    width: 100%;
}

.SelectedDate {
    color: #4285f4;
}